<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("_Head")
<body>

    @await Component.InvokeAsync("_Menu") @*здесь имя папки в Components, в которой должно лежать представоение Default.cshtml*@

    <main role="main"> @RenderBody() </main>

    @Html.Partial("_Footer")



    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/scripts.min.js" asp-append-version="true"></script>
</body>
</html>
